//===================================
// Header
//===================================

.header {
	height: 90px;
	position: absolute;
	top: 0;
	right: 0;
	width: 90px;
	z-index: 200;

	@include media($sbp) {
		height: 110px;
		width: 110px;
	}
	@include media($mbp) {
		position: fixed;
	}
}

.logotype {
	background: url(../images/logo.svg);
	background-size: cover;
	display: block;
	float: right;
	height: 80px;
    width: 90px;
    margin-right: -1px;
    margin-top: -11px;

	@include media($sbp) {
		height: 100px;
		width: 140px;
		margin-right: -17px;
		margin-top: -18px;
	}
	@media screen and (min-width: 1080px) {
		height: 120px;
		width: 170px;
		margin-right: -17px;
		margin-top: -18px;
	}
}
